/* font family */
$fontKBO: "KBODiaGothic";
$fontGmarket: "GmarketSans";

/* colors */
$kboblue:#002561;
$kbolightblue:#06ACED;
$kbored:#EA1E23;
$kbosilver:#A5A7AA;
$kbogold:#B19F77;
$bgblack: #03060B;
$white:#FFFFFF;
$black: #000000;